
html{
    box-sizing: border-box;
    font-family: 'Arial, sans-serif';
}
body{
    scroll-behavior: smooth;
    background-image: 
            linear-gradient(
                -75deg,
                rgb(5, 5, 61),
                rgb(221, 141, 31), 
                rgb(139, 57, 145),
                rgb(81, 164, 81));
    background-size: 400% 400%;
    animation: gradientFlow 18s ease infinite;
}

@keyframes gradientFlow {
    0% {
        background-position: 0% 50%;
    }
    25% {
        background-position: 50% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    75% {
        background-position: 50% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.heading{
    margin: 0 auto;
    background-color: rgb(5, 5, 61);
    border-radius: 20px;
    max-width: 250px;
    text-align: center; 
    color: aqua;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.3),
        -2px -2px 5px rgba(221, 172, 172, 0.8);
}

.nav{
    display:flex;
    width: 100%;
    max-height: 150px;
    left:0;
    top:0;
    justify-content: space-between;
    position: fixed;
    background-color: transparent;
    z-index: 20;
    color: azure;
    padding: 5px;
    animation: drop 1s ease-out forwards;
}

nav ul ,nav h3{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 5px 15px;
}

nav h3{
    margin-left: 50px;

}

nav ul li a ,nav h3{
    color: rgb(240, 232, 232);
    text-decoration: none;
    text-transform: uppercase;
    padding: 0px 20px;
    display: block;
}

nav li a:hover,nav li a.home{
    color:aqua;
    border-radius: 5px;
    transform: scale(1.1);
}
.nav-link.active {
    font-weight: bold;
    color: aqua; 
}
.div1{
    max-width: 600px;
    padding:40px;
    margin-left: 200px;

}

.div2{
    max-width: 800px;
    padding: 40px;

}
@keyframes drop {
    0%{
        transform: translateY(-200px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
    
}
@keyframes floatUp {
    0%{
        transform: translateY(50%) scale(0.8);
        opacity: 0;
    }

    100%{
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}

#home1{
    animation: floatUp 2s ease-out forwards;
    display:flex;
    color: white;
    min-height:100vh;
    margin-top: 60px;
    width: 100%;
    align-items: center;
    justify-content: center;
    
}

@keyframes floating {
    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(-10px);
    }

    100%{
        transform: translateY(0);
    }
}

.image{
    
    border: 2px solid rgb(225, 238, 244);
    border-radius: 30%;
    width:250px;
    height:250px;
    box-shadow: 0 0 10px rgba(160, 236, 20, 0.5),
    0 0 20px rgba(231, 238, 26, 0.3);
}

.image-container{
    animation: floatUp 2s ease-out forwards;
    animation: floating 3s ease-in-out infinite;
}
.image-container:hover{
    animation-play-state: paused;
}
.image:hover{
    animation-play-state: paused;
    transform: scale(1.04);
}

.certificates img:hover,#register:hover,.submit:hover,.personal a:hover,table:hover{
    transform: scale(1.1);
    transition-duration: 0.3s;
}

#about{
    display:flex;
    color: white; 
    min-height:100vh;
    margin-top: 60px;
    width: 100%;
    justify-content: center;

}

table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    background: transparent;
    border-radius: 10px;
    box-shadow:
        0 4px 10px rgba(0,0,0,0.1),
        0 10px 25px rgba(0,0,0,0.2);
    overflow: hidden;
}

th,td{
    padding: 20px;
    border: 2px solid rgb(43, 152, 199);
}

.certificates{
    display: flex;
    justify-content: space-evenly;
    animation: floating 3s ease-in-out infinite;

}

.certificates img{
    border: 2px solid rgb(225, 238, 244);
    width: 300px;
    height: 200px;
    
}

#projects{
    min-height:100vh;
    margin-top: 60px;
    width: 100%;
    padding-top: 60px;    
}

.prjcts{
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    padding: 50px;
    margin-top: 20px;
}

#register{
    box-sizing: border-box;
    border: 1px solid rgb(14, 185, 232);
    width: 300px;
    color: rgb(12, 187, 222);
    height:500px;
    background-color: transparent;
    border-radius: 10px;
    overflow: auto;
    text-align: left;
    padding:0px 10px 0px 20px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.3),
        -2px -2px 5px rgba(101, 70, 70, 0.8);
}

#register h3{
    color: beige;
    text-align: center;
    font-size: 30px;
    font-family:sans-serif;
}
#register h4{
    text-align: center;
    color: chartreuse;
}

.icons{
    width: 100px;
    height:50px;
    display:inline-flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 0; 
    margin-top: 30px;   
}
.icons a:hover{
    transform: scale(1.1);
}

.icons a{
    color: #1197e4;
    text-decoration: none;
    border-radius: 50%;
    font-size: 30px;
}
#contact{
    min-height: 100vh;
    width: 100%;
    padding: 60px 0px;
    
}
.contactpage{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: 60px;
    
    
}
.details{
    max-width: 600px;
    padding: 30px;
    padding-bottom: 10px;
    margin-left: 80px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    border: 2px solid #1197e4;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.3),
        -2px -2px 5px rgba(255,255,255,0.8);
    
}

.details label{
    font-size: 20px;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 15px;
    color: #01a1fe;
}
.details #name,#nmbr,#email {
    width: 100%;
    height: 30px;
    margin: 10px;
    color: #1197e4;
    padding: 5px;
    font-size: 15px;
    border: 1px solid #1197e4;
    border-radius: 10px;
    background-color: transparent;
}
.details textarea{
    width: 100%;
    height: 300px;
    background: transparent;
    border: 1px solid #1197e4;
    resize: none;
    overflow:auto;
    color: #01a1fe;
    padding-left: 10px;
    font-size: 15px;
}
.data{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.data input:hover{
    box-shadow: 0px 0px 2px rgb(227, 209, 207);
}
.submit{
    height: 50px;
    width: 100px;
    border-radius: 20%;
    background-color: rgb(56, 80, 143);
    color: #e8e1e4;
    font-style: bold;
    margin: 10px auto 0px;
    padding: 5px;
}
.submit-div{
    margin: 20px auto;
}

.copyrights{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 15px;
    border: 1px solid #01a1fe;
}
.copyrights p{
    margin: 5px 15px;
}
.copyrights a{
    color: #1197e4;
    text-decoration: none;
    border-radius: 50%;
    font-size: 15px;
    margin: 5px 15px;
    padding:5px;
    border: 1px solid #01a1fe;
    border-radius: 50%;
}
.personal{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    color: #e1e6e9;
    font-size: 15px;
    font-weight: 800;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding:10px;
    margin: 30px;
    border: 1px solid #01a1fe;
    border-radius: 10px;
    max-width: 300px;
    max-height: 300px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.3),
        -2px -2px 5px rgba(255,255,255,0.8);
}
.personal a{
    text-decoration: none;
}
.personal a:hover{
    color: pink;
    transform: scale(1.1);
}
.personal i{
    color: #1197e4;
    text-decoration: none;
    border-radius: 50%;
    font-size: 15px;
    margin-right: 5px;
    padding: 5px;
}
.personal-icons{
    display: inline-flex;
}


@media (min-width:360px) and (max-width: 1200px) {
    .nav{
        background-color:  #053d09;
    }
    nav ul li {
        margin: 5px 10px;
    }

    .nav h3 {
        margin-left: 10px;
        left: 0;
    }
    #home1 {
        flex-direction: column;
        margin-top: 80px;
    }

    .heading {
        max-width: 100%;
    }

    .div1, .div2 {
        padding: 20px;
        margin: 5px;
        max-width: 95%;
    }
    .certificates{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .certificates img {
        width: 100%;
        height: auto;
        margin: 10px;
        padding: 10px;
    }

    #register {
        width: 100%;
    }

    .details input, .details textarea {
        padding: 5px;
    }
    .prjcts {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .submit {
        width: 80px;
        height: 40px;
    }
    .details{
        margin-left: 0;
    }
    .contactpage {
        grid-template-columns: 1fr;
    }
    .personal {
        max-width: 100%;
        padding: 10px;
        margin: 10px;
    }
}